

@{ 
    ViewBag.Title = "Employee Not found Error ";
}

<div >
<h2>404 not found error</h2>
    <br />
    <h3>@ViewBag.ErrorMessage </h3>
    <a asp-action="Index" asp-controller="Home">click here to see list of all employees</a> 
</div>

@section Scripts{ 
}