
@model myfirstnetcoreapp.Views.Home.EmployeeCreateViewModel
@*@inject myfirstnetcoreapp.Models.IManageEmployeeDB _manageEmployeeDB*@

@{
    ViewBag.Title = "Create Employee";
}

<form enctype="multipart/form-data" asp-controller="Home" asp-action="Create" method="post">
    <div>
        <label asp-for="Name" class="text-black"></label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="Email" class="text-black"></label>
        <input asp-for="Email" />
    </div>
    <div>
        <label asp-for="Department" class="text-black"></label>
        <select asp-for="Department" asp-items="Html.GetEnumSelectList<Depts>()">
            <option value="">Please select</option>
        </select>
    </div>

    <div class="custom-file">
        <input asp-for="Photo" class="form-control custom-file-input">
        <label class="custom-file-label">Choose File...</label>
    </div>


    <button type="submit">Create</button>

</form>


@section Scripts {
    <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });
            });
    </script>
}
@*<div class="text-dark">
        Total Employee Count = @_manageEmployeeDB.GetAllEmployees().Count();
    </div>*@
