


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <h1>Test View from Home folder under Views folder</h1>
</body>
</html>
