@{
    ViewBag.Title = "Exception Occured";
};
<h1>
    Exception details are
</h1>
 ExceptionPath:
<h5>
    @ViewBag.ExceptionPath
</h5>
ExceptionMessage:
<h5>
    @ViewBag.ExceptionMessage
</h5>
ExceptionStack:
<h5>
    @ViewBag.ExceptionStack
</h5>