@page
@model Error
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">
    An error occurred while processing your request.
</h2>
<h5 class="text-danger"> @ViewData["ExceptionMessage"]</h5>
<h5 class="text-danger"> @ViewData["ExceptionStackTrace"] </h5>

@if (Model.ShowRequestId)
{

    <h1>Exception path @ViewData["ExceptionPath"]</h1>


    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>

    </p>
}


